html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

.card {
    display: block;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.75);
}

#qr-code-image {
    margin: 20px 15px 5px;
    width: 300px;
    height: auto;
    border-radius: 20px;
}

h1 {
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p {
    font-size: 15px;
    color: hsl(225, 2%, 65%);
    text-align: center;
}